<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
   
        <form action="/dashboard" method="POST" class="form">
            <label for="brgy">Barangay</label>
            <input id="brgy" name="brgy" type="text">
            <label for="num-cases">Number of Cases</label>
            <input id="num-cases" name="cases" type="text">
            <label for="recoveries">Recoveries</label>
            <input id="recoveries" name="recoveries" type="text">
            <label for="death">Death</label>
            <input id="death" name="death" type="text">
            <label for="suspected">Suspected</label>
            <input id="suspected" name="suspected" type="text">
            <button type="submit">SUBMIT</button>
        </form>
  
</body>
</html>